body
{
	margin:0;
	padding:0;
	font-family: Sans-Serif;
	line-height: 1.5em;
}

#header
{
	background: #d7dae4;
	height: 50px;
	border-bottom: 4px double #939393;
}

#wrapper
{
	height: calc(100% - 50px);
	width: 100%;
	position: absolute;
	top: 50px
}

#nav
{
	float: left;
	width: 240px;
	height: calc(100% - 4px);
	position: absolute;
	top: 4px;
	background: #eef1fc;
	border-right: 4px double #939393;
	overflow-y: auto;
}

#nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul a
{
	color: #094049;
	text-decoration: none;
}

#nav ul a:hover
{
	text-decoration: underline;
}

#content
{
	margin-left: 240px;
	height: 100%;
	float: left;
	width: calc(100% - 240px);
	overflow-x: hidden;
    overflow-y: auto;
}

#content h3
{
	font-style: italic;
	padding-top: 5px;
}

.box
{
	border-left: 4px double #768f99;
	border-radius: 2px;
	margin-left: 4px;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.container
{
	border: 3px double #768f99;
	border-radius: 3px;
	margin-left: 4px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 4px;
	display: table;
}

.container td
{
	padding: 3px;
}

.box label
{
	color: #051a1e;
}

input[type='button'], select
{
	-webkit-box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color: #eef1fc;
	border: 1px solid #858cdd;
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 6px;
	color: #094049;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

input[type='button']:hover
{
	color: #061e23;
	background-color: #eaedfd;
}

#header h1
{
	margin: 0;
	padding-top: 15px;
}


.padded
{
	margin-left: 15px;
	margin-right: 15px;
}

#header div *
{
	display: inline-block;
}